{% extends 'front/baseFront.html.twig' %}

{% block body %}
    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                {% for c in tabTransportByUser%}
                    <div class="col-md-3 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch">
                            <a href="blog-single.html" class="block-20" style="background-image: url('{{ asset('uploads/produit_image/'~c.image)}}')">
                            </a>
                            <div class="text p-4 d-block">
                                <!--<span class="tag">Tips, Travel</span>-->
                                <h2 class="heading mt-3">Marque: {{ c.marque }}</h2>
                                <h2 class="heading mt-3">Modele: {{ c.modele }}</h2>
                                <h2 class="heading mt-3">Nombre de siege: {{ c.nbsiege }}</h2>
                                <h2 class="heading mt-3">Categorie: {{ c.categorie.nom }}</h2>
                                <h2 class="heading mt-3">Prix: {{ c.prix }} dt </h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}