{% extends 'front/voyage.html.twig' %}
{% block body %}



<div class="col-lg-9" >
    <h2 style="color:#0c5460">Voyage Organisé</h2>
    <br>
    <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="single-slider owl-carousel">
                <div class="item">
                    <div class="hotel-img"  style="background-image: url('{{ asset ('upload/img/' ~ voyage.image) }}')"></div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
            <span>Destination</span>
            <h2> {{ voyage.destination }}</h2>
            <h6>  </h6>
            <br>
            <h6> Durée de voyage : {{ voyage.duree }} </h6>
            <br>
            <h6> Hôtel :  {{ voyage.hotel }}</h6>
            <br>
            <h6> Programme :  {{ voyage.programme }}</h6>
            <br>
            <h6> Prix :  {{ voyage.prix }} dt</h6>
            <br>
            <div class="item">
                <h2 style="color:#0c5460">Attraction</h2>
                <br>
                <div class="col-md-12 ftco-animate">
                    <div class="single-slider owl-carousel">
                {% for image in voyage.attraction.images %}
                    <div>
                        <div class="hotel-img"  style="background-image: url('{{ asset ('upload/img/' ~ image.nom) }}')"></div>
                    </div>
                {% endfor %}
                    </div>
                </div>

            </div>
            <br>
            <h6> Attraction :  {{ voyage.attraction }} </h6>
            <br>
            <h6> Lieu :  {{ voyage.attraction.lieu }} </h6>
            <br>
            <h6> Description :  {{ voyage.attraction.description }} </h6>
            <br>
            <br>
            <br>
            <br>

            <p class="rate">
            <h2 style="color:#0c5460">Rating</h2>
                <i class="fa fa-star fa-2x" data-index="0"></i>
                <i class="fa fa-star fa-2x" data-index="1"></i>
                <i class="fa fa-star fa-2x" data-index="2"></i>
                <i class="fa fa-star fa-2x" data-index="3"></i>
                <i class="fa fa-star fa-2x" data-index="4"></i>

                <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
                <script>
                    var ratedIndex = -1, uID = 0;

                    $(document).ready(function () {
                        resetStarColors();

                        if (localStorage.getItem('ratedIndex') != null) {
                            setStars(parseInt(localStorage.getItem('ratedIndex')));
                            uID = localStorage.getItem('uID');
                        }

                        $('.fa-star').on('click', function () {
                            ratedIndex = parseInt($(this).data('index'));
                            localStorage.setItem('ratedIndex', ratedIndex);
                            saveToTheDB();
                        });

                        $('.fa-star').mouseover(function () {
                            resetStarColors();
                            var currentIndex = parseInt($(this).data('index'));
                            setStars(currentIndex);
                        });

                        $('.fa-star').mouseleave(function () {
                            resetStarColors();

                            if (ratedIndex != -1)
                                setStars(ratedIndex);
                        });
                    });

                    function saveToTheDB() {
                        $.ajax({
                            url: "index.php",
                            method: "POST",
                            dataType: 'json',
                            data: {
                                save: 1,
                                uID: uID,
                                ratedIndex: ratedIndex
                            }, success: function (r) {
                                uID = r.id;
                                localStorage.setItem('uID', uID);
                            }
                        });
                    }

                    function setStars(max) {
                        for (var i=0; i <= max; i++)
                            $('.fa-star:eq('+i+')').css('color', 'red');
                    }

                    function resetStarColors() {
                        $('.fa-star').css('color', 'grey');
                    }
                </script>

            </p>


    </div>
</div>



{% endblock %}