{% extends 'front/voyage.html.twig' %}
{% block body %}

    <div class="col-lg-9" >
        <div class="row" >

            {% for voyage in tabVoyages %}

            <div class="col-md-4 ftco-animate" >

                <div class="destination">

                    <a href="{{ path('detailVoyage',{'id':voyage.id}) }}"  class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ asset ('upload/img/' ~ voyage.image) }}')">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3">
                        <div class="d-flex">
                            <div class="one">
                                <h3><a href="{{ path('detailVoyage',{'id':voyage.id}) }}" >{{ voyage.destination }}</a></h3>
                            </div>
                            <div class="two">
                                <span class="price">{{ voyage.prix }} dt</span>
                            </div>
                        </div>

                        <p class="days"><span>Hôtel : {{ voyage.hotel }}</span></p>
                        <p class="days"><span>Durée : {{ voyage.duree }}</span></p>
                        <hr>
                        <p class="bottom-area d-flex">
                            <span>Attraction : {{ voyage.attraction }}</span>
                            <span class="ml-auto"><a href="{{ path('detailVoyage',{'id':voyage.id}) }}" >Découvrir</a></span>
                        </p>
                    </div>

                </div>

            </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}